.navi-list ul{
    list-style: none;
}

.navi-link{
    text-decoration: none !important;
    font-size: 1.15rem;
    color:black ;
    font-weight: 601;

}
.navi-link:hover{
    color: rgb(82, 82, 82);
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.carousel {
    margin: 20px auto;
}

.politica :not(h3) {
    text-align: justify;
    color: white;
}

main a{
    color:black;
}
main a:hover{
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;

}

@media (max-width: 768px) {
    .navi-item{
        display: none;
    }
    .carrinho{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu .navi-item{
        display: block;
    }
    .mobile-menu .carrinho{
        display: block;
    }
    .open{
        display: block;
    }
}