* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: whitesmoke;
    /* box-shadow: 0px 3px 10px #464646; */
}

.navi-list ul{
    list-style: none;
}

.navi-link{
    text-decoration: none !important;
    font-size: 1.15rem;
    color:black ;
    font-weight: 601;

}
.navi-link:hover{
    color: rgb(82, 82, 82);
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


#box-contato {
    width: 90vw;
    margin: 35px auto 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.banner-contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.banner-redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
}

.banner-redes a {
    text-decoration: none;
    color: #000;
    transition: all .5s;
}

.banner-redes a:hover {
    color: #4689d6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form-group {
    align-items: left;
}

.form-group input, 
.form-group select,
.form-group textarea {
    border-radius: 20px;
}

.form-group textarea {
    resize: none;
}

@media screen and (min-width: 800px) {
    #box-contato {
        flex-direction: row;
        justify-content: center;
        column-gap: 120px;
    }

    .banner-contato {
        text-align: left;
    }

    .banner-redes {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
@media (max-width: 768px) {
    .navi-item{
        display: none;
    }
    .carrinho{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu .navi-item{
        display: block;
    }
    .mobile-menu .carrinho{
        display: block;
    }
    .open{
        display: block;
    }
}