html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.carousel {
    margin: 20px auto;
}

.footer {
    font-size: 12px;
    position: relative; 
    bottom: 0;
    background-color: #b9b9b9;
    padding: 10px 20px; 
    display: block; 
    text-align: center;
}

.politica :not(h3) {
    text-align: justify;
    color: #007BFF;
}

/* Estilos para telas maiores (tablets e desktops) */
@media (min-width: 800px) {
    .footer {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 40px; 
    }
}

@media (max-width: 768px) {
    #carouselExampleIndicators {
        width: 100% !important;
    }
}


