html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #d9c6ba;
    /* box-shadow: 0px 3px 10px #464646; */
}
.membro{
    background-color: #734930;
    color: #f2eeeb;
    font-weight: bold;
}

.navi-list ul{
    list-style: none;
}

.navi-link{
    text-decoration: none !important;
    font-size: 1.15rem;
    color:black ;
    font-weight: 601;

}
.navi-link:hover{
    color: #734930;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


.footer {
    font-size: 12px;
    position: relative; 
    bottom: 0;
    background-color: #d9c6ba;
    padding: 10px 20px; 
    display: block; 
    text-align: center;
}
.footer h3{
    color: #734930;
}
.footer p{
    color: #f2eeeb;
    font-weight: bold;
    font-size: 1rem;
}
.footer a{
    text-decoration: none !important;
}


.politica :not(h3) {
    text-align: justify;
}

/* Estilos para telas maiores (tablets e desktops) */
@media (min-width: 800px) {
    .footer {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 40px; 
    }
}

@media (max-width: 768px) {
    #carouselExampleIndicators {
        width: 100% !important;
    }
    .navi-item{
        display: none;
    }
    .carrinho{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .mobile-menu .navi-item{
        display: block;
    }
    .mobile-menu .carrinho{
        display: block;
    }
    .open{
        display: block;
    }
}


